
<header>

    <nav class="navbar navbar-expand-lg navbar-light  p-2">
      <button (click)="service.logOut()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        Salir
     </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
  
      </button>
      
  
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              
                
              <li class="nav-item my-link" routerLinkActive="active">
                <a class="nav-link" routerLink="/">Cargar Saldo</a>
              </li>
              <li class="nav-item my-link" routerLinkActive="active">
                <a class="nav-link" routerLink="/pagar">Pagar</a>
              </li>
              <li class="nav-item my-link" routerLinkActive="active">
                <a class="nav-link" routerLink="/enviarDinero">Enviar Dinero</a>
              </li>
             
              <li class="nav-item my-link" routerLinkActive="active">
                <a class="nav-link" routerLink="/movimientos">Movimientos</a>
              </li>
              <li class="nav-item my-link" routerLinkActive="active">
                <a class="nav-link" routerLink="/plazoFijo">Plazo Fijo</a>
              </li>
             
              <li class="nav-item my-link" routerLinkActive="active">
                <a class="nav-link" routerLink="/divisas">Divisas</a>
              </li>
              <li class="nav-item my-link" routerLinkActive="active">
                <a class="nav-link" routerLink="/listaDeUsuarios">Lista De Usuarios</a>
              </li>
              
              
             
              
            </ul>
            
          </div>
    
      
      </nav>
    
    
      
  </header>
  
  