

<div class="row">

    <div class="col">
      <h2>Cargas</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Monto</th>
            <th scope="col">Fecha</th>
            <th scope="col">Concepto</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of data | slice: (page-1) * pageSize : page * pageSize">
            <th scope="row">{{element.money}}</th>
            <td>{{element.date}}</td>
            <td>{{element.concept}}</td>
           
          </tr>
          
        </tbody>
      </table>
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="data.length"></ngb-pagination>
  
    </div>
  
  
    
  </div>
  
  