<div >
    
    

    <div *ngIf="storage.getItem('isLogIn'); else notLogIn">
        <app-navbar></app-navbar>     
        
        <main class="content">
            <app-user-display></app-user-display>
            <div class="routesDisplay overflow-auto border border-2">
                <router-outlet></router-outlet>
            </div>
        </main>
        <app-footer></app-footer>
    
       
    </div>
    <ng-template #notLogIn>
       <app-index-auth></app-index-auth>
    </ng-template>
    
</div>